.our-team__members {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
}

.members__card {
  position: relative;
}

.members__card--hover {
  width: 380px;
  height: 470px;
  position: absolute;
  background: -webkit-gradient(
    linear,
    left top, left bottom,
    from(rgba(238, 137, 138, 0.9)),
    to(rgba(238, 215, 136, 0.9))
  );
  background: -o-linear-gradient(
    top,
    rgba(238, 137, 138, 0.9),
    rgba(238, 215, 136, 0.9)
  );
  background: linear-gradient(
    to bottom,
    rgba(238, 137, 138, 0.9),
    rgba(238, 215, 136, 0.9)
  );
  opacity: 0;
  z-index: 3;
  -webkit-transition: opacity, -webkit-transform var(--transition-duration) linear;
  transition: opacity, -webkit-transform var(--transition-duration) linear;
  -o-transition: opacity, transform var(--transition-duration) linear;
  transition: opacity, transform var(--transition-duration) linear;
  transition: opacity, transform var(--transition-duration) linear, -webkit-transform var(--transition-duration) linear;
}

.members__card::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  z-index: -1;
  width: 380px;
  height: 470px;
  background-color: #95e1d3;
}

.members__img {
  margin-bottom: 30px;
  -webkit-transition: z-index, -webkit-transform var(--transition-duration) linear;
  transition: z-index, -webkit-transform var(--transition-duration) linear;
  -o-transition: z-index, transform var(--transition-duration) linear;
  transition: z-index, transform var(--transition-duration) linear;
  transition: z-index, transform var(--transition-duration) linear, -webkit-transform var(--transition-duration) linear;
}

.members__name {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: var(--title-font);
  line-height: var(--title-line-height);
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 7px;
}

.members__occupation {
  margin: 0;
  padding: 0;
  text-align: center;
  font-weight: 300;
  font-style: italic;
  color: #999999;
}
