/* font-family: 'Montserrat', sans-serif; */
/* font-family: 'Kaushan Script', cursive; */
/* font-family: 'Roboto', sans-serif; */

/* GENERAL SETTINGS */

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  background-color: #ffffff;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

:root {
    --sub-title-font: 'Kaushan Script', cursive;
    --sub-title-font-size: 24px;
    --sub-title-line-height: 1.2;
    --title-font: 'Montserrat', sans-serif;
    --title-font-size: 30px;
    --title-line-height: 1.2;
}

/* HEADER START */

.page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 80px;
}

.page-logo {
    font-family: var(--title-font);
    font-size: var(--title-font-size);
    line-height: var(--title-line-height);
    font-weight: 700;
    text-decoration: none;
    color: #95e1d3;
    min-height: 40px;
}

.page-nav {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 490px;
    list-style: none;
}

.page-nav-item{
    min-height: 40px;
    align-content: center;
}

.page-nav-item a {
    text-decoration: none;
    color: #95e1d3;
    text-transform: uppercase;
    font-family: var(--title-font);
    font-size: 14px;
    line-height: var(--title-line-height);
    font-weight: 400;
}

.page-nav-item:hover a {
    color: #f38181;
}

.page-nav-item:hover {
    border-bottom: 3px solid #f38181;
}

/* HEADER END */

.service-sub_title {
    margin: 0;
    padding: 0;
    text-align: center;
    color: #333333;
    font-family: var(--sub-title-font);
    font-size: var(--sub-title-font-size);
    line-height: var(--sub-title-line-height);
}

.service-title {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: var(--title-font);
    font-size: var(--title-font-size);
    line-height: var(--title-line-height);
    font-weight: 700;
    text-transform: uppercase;
}

.service-title::after {
    content: "";
    display: block;
    margin: 0 auto;
    margin-top: 1px;
    width: 60px;
    height: 3px;
    background-color: #f38181;
}

.service-features-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;
}

.service-features-list-item {
    flex-basis: 381px;
    position: relative;
}

.service-features-list-item:nth-child(-n + 3) {
    margin-bottom: 100px;
}

.service-features-list-item::before {
    content: url(../img/icons/features-photography.png);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.list-item-title {
    margin: 0;
    padding: 0;
    padding-left: 50px;
}

.list-item-text {
    margin: 0;
    padding: 0;
    padding-left: 50px;
}



