html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  background-color: #ffffff;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
}

.main_content {
  width: 900px;
  margin: 0 auto;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

/* Header start */
.page_header{
    width: 900px;
    margin: 0 auto;
}
.navigation {
  display: inline-block;
  margin: 0 auto;
  margin-top: 71px;
  margin-bottom: 98px;
  padding: 0;
  width: 100%;
  text-align: center;
  
}

.navigation li {
  display: inline-block;
  list-style: none;
  text-decoration: none;
  text-transform: uppercase;
  text-align: right;
  
}

.navigation li:not(:last-child) {
  margin-right: 120px;
}

.navigation a {
  text-decoration: none;
  font-size: 14px;
  line-height: 24px;
  color: #626262;
}

.navigation a:hover,
.navigation a:focus {
  color: #03a9f4;
}

/* header end*/

/* main content start*/

.row {
  margin-bottom: 128px;
  font-size: 0px;
}

.row:last-child {
  margin-bottom: 50px;
}

.post {
  display: inline-block;
  width: 420px;
  height: auto;
  margin: 0;
  padding: 0;
  font-size: 14px;
  
}

.post:nth-child(odd) {
  margin-right: 55px;
}

.caption {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #b4ad9e;
  text-transform: uppercase;
  margin-top: 31px;
}

.title {
  color: #626262; 
  font-size: 30px;
  margin-top: 26px;
  line-height: 36px;
  
}

.main_text {
  margin: 0 auto;
  margin-top: 26px;
  color: #626262;
  font-size: 14px;
  line-height: 24px;
}

/* main content end */

/* load more */
.load_more{
    width: 900px;
    margin: 0 auto;
    margin-bottom: 70px;
}

button {
  display: block;
  margin: 0 auto;
  height: 60px;
  width: 165px;
  border: 1px solid #626262;
  font-size: 20px;
  line-height: 24px;
  color: #626262;
  margin-bottom: 70px;
  cursor: pointer;
  
}

button:hover,
button:focus {
  color: #03a9f4;
  border: 1px solid #03a9f4;
  
}
