/* font-family: 'Great Vibes', cursive; */

/* FONTS */

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/montserrat-v14-latin-regular.woff2") format("woff2"),
    url("../fonts/montserrat-v14-latin-regular.woff") format("woff");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/montserrat-v14-latin-700.woff2") format("woff2"),
    url("../fonts/montserrat-v14-latin-700.woff") format("woff");
}

@font-face {
  font-family: "Roboto Slab";
  src: url("../fonts/RobotoSlab-Regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Droid Serif Italic";
  src: url("../fonts/DroidSerif-Italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* GENERAL SETTINGS */

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  color: #777777;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 1.2;
}

.container {
  width: 940px;
  margin: 0 auto;
}

/* visually-hidden helper */
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* HEADER START */

.page-header {
    margin: 0;
    padding: 0;
    padding-top: 50px;
    margin-bottom: 120px;
}

.page-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page-logo {
    display: inline-block;
    padding-left: 5px;
    font-family: 'Great Vibes', cursive;
    text-decoration: none;
    color: #fed136;
    font-size: 36px;
}

.page-nav-list {
    display: flex;
    flex-shrink: 2;
    padding: 0;
    margin: 0;
    list-style: none;
    justify-content: space-between;
    flex-basis: 485px;
}

.page-nav-list-item a {
    text-decoration: none;
    color: #222222;
    text-transform: uppercase;
    font-size: 14px;
    transition: color 200ms linear;
}

.page-nav-list-item a:hover {
    color: #fed136;
}

/* HEADER END */

/* SERVICES START */

.services {
    margin-bottom: 122px;
}

.services-title {
    margin: 0;
    padding: 0;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 40px;
    color: #222222;
    margin-bottom: 16px;
}

.services-sub_title {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: "Droid Serif Italic";
    font-style: 16px;
    margin-bottom: 80px;
}

.services-list {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style: none;
    flex-wrap: wrap;
}

.services-list-item {
    flex-basis: 290px;
    text-align: center;
}

.services-list-item::before {
    content: "";
    display: inline-block;
    height: 72px;
    width: 72px;
    border: 3px solid #fed136;
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 26px;
}

.basket::before {
    background-image: url(../img/icons/Icon-Basket.png);
}

.laptop::before {
    background-image: url(../img/icons/Icon-Laptop.png);
}

.locked::before {
    background-image: url(../img/icons/Icon-Locked.png);
}

.services-list-item-title {
    padding: 0;
    margin: 0;
    font-weight: 700;
    font-size: 18px;
    color: #222222;
    margin-bottom: 12px;
}

.services-list-item-text {
    margin: 0;
    padding: 0;
    font-family: "Roboto Slab";
    font-size: 14px;
}

/* SERVICES END */

/* CONTACT START */

.contact {
    padding: 112px 0;
    background-color: #222222;
    background-image: url(../img/Map\ Image.png);
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: right;
    background-size: 537px 614px;
}

.contact-title {
    margin: 0;
    padding: 0;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 40px;
    color: #ffffff;
    margin-bottom: 16px;
}

.contact-sub_title {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: "Droid Serif Italic";
    font-style: 16px;
    margin-bottom: 75px;
}

.contact-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    flex-shrink: 5;
}

.input-list {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-bottom: 30px;
}

.input-list-item:not(:nth-last-child(1)) {
    margin-bottom: 27px;
}

.input-items {
    padding: 20px 20px;
    border: none;
    border-radius: 2px;
    width: 455px;
    height: 52px;
}

.validation:focus:valid {
    outline: 3px solid green;
}

.validation:focus:invalid {
    outline: 3px solid red;
}

.input-items::placeholder {
    font-weight: 700;
    color: #bbbbbb;
    font-size: 14px;
    text-transform: uppercase;
}

.input-text_area {
    margin: 0;
    padding: 0;
    margin-bottom: 30px;
    padding: 20px 20px;
    width: 455px;
    height: 211px;
    border: none;
    border-radius: 2px;
    resize: none;
}

.input-text_area::placeholder {
    font-weight: 700;
    color: #bbbbbb;
    font-size: 14px;
    text-transform: uppercase;
}

.contact_button {
    margin: 0 auto;
    padding: 22px 45px;
    width: 241px;
    height: 65px;
    border: none;
    border-radius: 2px;
    background-color: #fed136;
    font-weight: 700;
    font-size: 18px;
    color: #ffffff;
    text-transform: uppercase;
    cursor: pointer;
}

/* CONTACT END */