@media (max-width: 767px) {
    .container {
        width: 320px;
        margin: 0 auto;
        padding: 1.4rem;
      }

    .page-header .container {
        padding-bottom: 13.8rem;
    }

    .user-controls {
        margin-bottom: 4rem;
    }

    .log_in,
    .sign_up {
    margin-bottom: 11.5rem;
    }

    .header-title {
        margin-bottom: 1.5rem;
    }

    .header-subtitle {
        margin-bottom: 1.7rem;
    }

    .partners-title {
        margin-bottom: 1.8rem;
    }

    .partners-list-item:not(:last-child) {
        margin-bottom: 2.5rem;
    }

    .partners-list-item-img {
        margin-bottom: 20px;
    }

    .partners-list-item-title {
        margin-bottom: 14px;
    }
}

@media (min-width: 768px) {
    .page-button {
        width: 22.7rem;
    }

    .page-header .page-button {
        margin-bottom: 23.3rem;
    }

    .user-controls {
        padding-top: 3.8rem;
        display: flex;
        align-items: center;
        width: 100%;
        margin-bottom: 16rem;
    }

    .page-logo {
        order: 1;
        margin-right: auto;
    }

    .log_in {
        font-size: 1.4rem;
        order: 2;
    }

    .sign_up {
        font-size: 1.4rem;
        order: 3;
    }

    .header-title {
        padding: 0 7rem;
        font-size: 5.2rem;
        margin-bottom: 4rem;
    }

    .header-subtitle {
        padding: 0;
        font-size: 2.4rem;
        margin-bottom: 3rem;
    }

    .partners-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .icon-1 {
        order: 1;
    }

    .icon-2 {
        order: 3
    }

    .icon-3 {
        order: 2
    }

    .icon-4 {
        order: 4;
    }

}


@media (min-width: 768px) {

    .container {
        width: 748px;
        margin: 0 auto;
        padding: 0 1.3rem;
    }

    .header-title {
        padding: 0 7rem;
        font-size: 5.2rem;
        margin-bottom: 4rem;
    }

    .header-subtitle {
        padding: 0;
        font-size: 2.4rem;
        margin-bottom: 3rem;
    }

    .page-button {
        width: 22.7rem;
    }

    .partners {
        margin-bottom: 4rem;
    }

    .partners-title {
        margin-bottom: 3.2rem;
    }

    .partners-list {
        margin: 0;
        margin-bottom: 3.7rem;
    }

    .partners-list-item {
        flex-basis: 25rem;
    }

    .partners-list-item:nth-child(odd) {
        margin-bottom: 2rem;
    }

    .partners-list-item::after {
        right: 55px;
    }

    .partners-list-item-img {
        margin-bottom: 2rem;
    }

    .partners-list-item-title {
        margin-bottom: 1rem;
    }

    .partners-list-item-description {
        padding: 0 1.2rem;
    }

}

@media (min-width: 940px) {
    .container {
        width: 940px;
        margin: 0 auto;
    }

    .header-title {
        padding: 0 16rem;
        padding-top: 1.6rem;
    }

    .partners {
        margin-bottom: 7.2rem;
    }

    .partners-title {
        margin-bottom: 3rem;
    }

    .partners-list-item {
        flex-basis: 22rem;
        margin-bottom: 0;
    }

    .partners-list {
        margin-bottom: 4rem;
    }

    .partners-list-item::after {
        right: 55px;
    }

    .partners-list-item-description {
        padding: 0 3px;
    }
}
