/* font-family: "Roboto", sans-serif; */
/* font-family: "Open Sans", sans-serif; */

/* GENERAL SETTINGS */

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  line-height: 26px;
}

.container {
  width: 1110px;
  margin: 0 auto;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

main {
  background-color: #e9f0fd;
}

/* HEADER START */

.page-header {
  margin-top: 35px;
  margin-bottom: 38px;
}

.page-logo {
  float: left;
  font-size: 30px;
  line-height: 32px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  margin-top: 5px;
}

.page-logo a {
  text-decoration: none;
  color: #555252;
  vertical-align: center;
}

.page-logo:first-letter {
  font-weight: 900;
  color: #1abc9c;
}

.page-nav {
  margin: 0;
  float: right;
  text-align: center;
}

.nav-item {
  float: left;
  list-style: none;
  margin-top: -15px;
}

.nav-item:not(:last-child) {
  margin-right: 35px;
}

.nav-item-link {
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 11px;
  font-weight: 700;
  color: #0f0101;
  transition: 0.3s;
  text-transform: uppercase;
}

.nav-item-link:hover,
.nav-item-link:focus {
  color: #1abc9c;
  transition: 0.3s;
}

/* HEADER END */

/* SLIDER  */

.page-slider {
  margin: 0 auto;
  position: relative;
}

.page-slider-ctrl {
  position: absolute;
  display: inline-block;
  padding: 0;
  margin: 0;
  width: 105px;
  height: 105px;
  background-color: #579f8c;
  border: none;
  top: 225px;
  transform: translateY(-50%);
  opacity: 0.651;
  cursor: pointer;
  transition: 0.3s;
}

.page-slider-ctrl:hover {
  opacity: 1;
  transition: 0.3s;
}

.icon-prev {
  left: 80px;
  background-repeat: no-repeat;
  background-image: url(../img/icons/icon-prev.png);
  background-position: center;
}

.icon-next {
  right: 80px;
  background-repeat: no-repeat;
  background-image: url(../img/icons/icon-next.png);
  background-position: center;
}

.page-slider-title {
  position: absolute;
  top: 190px;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  font-family: "Roboto", sans-serif;
  font-size: 60px;
  line-height: 82px;
  font-weight: 900;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  color: #ffffff;
}

.page-slider-text {
  position: absolute;
  top: 260px;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  width: 800px;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 24px;
  line-height: 54px;
  color: #ffffff;
}

/* SLIDER END */

/* NEW COLLECTION START */

.new_collection {
  margin: 0 auto;
  margin-top: 95px;
}

.new_collection-title {
  text-align: center;
  text-transform: uppercase;
  color: #515151;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
  margin-top: 0;
  margin-bottom: 80px;
}

.new_collection-title::after {
  content: "";
  display: block;
  margin: 0 auto;
  margin-top: 27px;
  height: 7px;
  width: 166px;
  background-color: #1abc9c;
}

/* NEW COLLECTION LIST */

.new_collection-products-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.new_collection-products-item {
  position: relative;
  float: left;
  width: 255px;
  margin-bottom: 100px;
}

.new_collection-products-item:not(:nth-child(4n + 4)) {
  margin-right: 30px;
}

.new_collection-products-item-name {
  position: absolute;
  left: 0px;
  top: 282px;
  margin: 0;
  padding: 6px 14px;
  width: 203px;
  height: 40px;
  background-color: #323232;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 900;
  line-height: 32px;
  transition: 0.3s;
}

.new_collection-products-item-price {
  position: absolute;
  right: 0px;
  top: 282px;
  margin: 0;
  width: 52px;
  height: 40px;
  padding: 6px 12px;
  background-color: #8c8c8c;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 900;
  line-height: 32px;
  transition: 0.3s;
}

.new_collection-products-item:hover .new_collection-products-item-name {
  background-color: #1abc9c;
}

.new_collection-products-item:hover .new_collection-products-item-price {
  background-color: #7fd9c7;
}

/* ITEM HOVER */

.new_collection-products-item-hover {
  position: absolute;
  top: 10px;
  left: 10px;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.6);
  width: 235px;
  height: 260px;
  transition: 0.3s;
}

.new_collection-products-item:hover .new_collection-products-item-hover {
  opacity: 1;
  transition: 0.3s;
}

.item-hover-button {
  position: absolute;
  top: 75px;
  padding: 0;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border: 1px solid #ffffff;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  transition: 0.3s;
}

.item-hover-button:hover {
  background-color: #1abc9c;
  border: 1px solid #1abc9c;
}

.heart {
  background-image: url(../img/icons/icon-heart.png);
  left: 35px;
  transition: 0.3s;
}

.mix {
  background-image: url(../img/icons/icon-mix.png);
  left: 50%;
  transform: translateX(-50%);
  transition: 0.3s;
}

.clock {
  background-image: url(../img/icons/icon-clock.png);
  right: 35px;
  transition: 0.3s;
}

.item-hover-button-cart {
  position: absolute;
  top: 135px;
  left: 50%;
  transform: translateX(-50%);
  width: 165px;
  height: 50px;
  padding-left: 40px;
  background-color: rgb(50, 50, 50);
  cursor: pointer;
  background-image: url(../img/icons/icon-cart.png);
  background-repeat: no-repeat;
  background-position: 10px;
  border: 1px solid #ffffff;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
  line-height: 32px;
  vertical-align: middle;
  transition: 0.3s;
}

.item-hover-button-cart:hover {
  background-color: #1abc9c;
  border: 1px solid #1abc9c;
  transition: 0.3s;
}

/* NEW COLLECTION END */

/* FOOTER  */

.page-footer {
  margin: 0 auto;
  background-color: #323232;
  text-align: center;
  padding-top: 31px;
  padding-bottom: 26px;
}

.page-footer-info {
  margin: 0 auto;
  display: inline-block;
  text-transform: capitalize;
  font-size: 16px;
  line-height: 28px;
  color: #fefefe;
}

.page-footer-info a {
  text-decoration: none;
  color: #1abc9c;
}
