html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: $general-font-stack;
  font-size: 15px;
  line-height: 1.5;
  font-weight: 400;
  background-color: $main-background-color;
  color: $general-font-color;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
