.btn {
  display: block;
  color: $secondary-font-color;
  width: 162px;
  height: 40px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  text-transform: uppercase;

  &--header {
    margin: 0 auto;
    margin-bottom: 218px;
    border: 3px solid $secondary-font-color;
  }

  &--footer {
    background-color: #95e1d3;
    width: 150px;
    padding: 12px 30px;
    font-family: $titles-font-stack;
    font-size: 14px;
    font-weight: 700;
  }
}