.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 61px;
  padding: 11px 0;
  border-top: #e5e5e5 solid 1px;
}

.footer__info {
  @extend %margin-padding-reset;
  font-family: $general-font-stack;
  font-size: 14px;
  font-weight: 400;
}

.info__link {
  text-decoration: none;
  color: #f38181;
}

.footer__input {
  display: flex;
}

.input__area {
  width: 230px;
  height: 40px;
  border: #e5e5e5 solid 1px;
  padding: 0px 11px;
}
