.our-team {
  padding: 0;
  padding-top: 86px;
  padding-bottom: 78px;

  &__desc {
    margin: 0 auto;
    width: 980px;
    text-align: center;
    color: $text-font-color;
    margin-bottom: 89px;
    padding-top: 39px;
  }
}
