.services {
  @extend %margin-padding-reset;
  padding-top: 57px;
}

.features__list {
  @extend %list-default-reset;
  padding-top: 62px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.features__list-item {
  flex-basis: 381px;
  position: relative;
  background-repeat: no-repeat;
  background-position: 30px 2px;

  &:nth-child(-n + 3) {
    margin-bottom: 94px;
  }
}

.features__list-title {
  @extend %margin-padding-reset;  
  font-family: $titles-font-stack;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  padding-left: 90px;
  margin-bottom: 12px;
}

.features__list-text {
  @extend %margin-padding-reset;
  color: $text-font-color;
  padding-left: 90px;
}

@include generate-pseudo-icons('item__icon--', '$icons', '../images/icon-', 'svg');