.features__list {
  margin: 0;
  padding: 0;
  padding-top: 62px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
}

.features__list-item {
  -ms-flex-preferred-size: 381px;
      flex-basis: 381px;
  position: relative;
  padding: 0;
  background-repeat: no-repeat;
  background-position: 30px 2px;
}

.features__list-item:nth-child(-n + 3) {
  margin-bottom: 94px;
}

.item__icon--photography {
  background-image: url(../../img/svg/features--svg/alarm.svg);
}

.item__icon--web-design {
  background-image: url(../../img/svg/features--svg/line-graph.svg);
}

.item__icon--creativity {
  background-image: url(../../img/svg/features--svg/computer.svg);
}

.item__icon--seo {
  background-image: url(../../img/svg/features--svg/book.svg);
}

.item__icon--html-css {
  background-image: url(../../img/svg/features--svg/home.svg);
}

.item__icon--digital {
  background-image: url(../../img/svg/features--svg/digital.svg);
}

.features__list-title {
  font-family: var(--title-font);
  font-size: 14px;
  font-weight: 400;
  line-height: var(--title-line-height);
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  padding-left: 90px;
  margin-bottom: 12px;
}

.features__list-text {
  margin: 0;
  padding: 0;
  color: #999999;
  padding-left: 90px;
}