%margin-padding-reset {
  margin: 0;
  padding: 0;
}

%list-default-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

%link-default-reset {
  text-decoration: none;
  color: $secondary-font-color;
}
