$main-background-color: #ffffff;
$general-font-color: #333333;
$secondary-font-color: #ffffff;
$text-font-color: #999999;
$accent-color: #fce38a;
$secondary-accent-color: #f38181;

$icons: alarm, line-graph, computer, book, home, digital;
$general-font-stack: 'Roboto', sans-serif;

$titles-font-stack: "Montserrat", sans-serif;
$titles-font-size: 30px;

$subtitles-font-stack: "Kaushan Script", cursive;
$subtitles-font-size: 24px;
