$main-background-color: #ffffff;
$general-font-color: #333333;
$secondary-font-color: #ffffff;
$accent-color: #fce38a;


$general-font-stack: 'Roboto', sans-serif;

$titles-font-stack: "Montserrat", sans-serif;
$titles-font-size: 30px;

$subtitles-font-stack: "Kaushan Script", cursive;
$subtitles-font-size: 24px;
