@import url(navigation-and-logo/nav.css);
@import url(typography/typography.css);
@import url(features-services/services-list.css);
@import url(members/members-cards.css);
@import url(socials/socials.css);
@import url(footer/footer.css);

/* GENERAL SETTINGS */

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  background-color: #ffffff;
  color: #333333;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

/* visually-hidden helper */
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

:root {
  --sub-title-font: "Kaushan Script", cursive;
  --sub-title-font-size: 24px;
  --sub-title-line-height: 1.2;
  --title-font: "Montserrat", sans-serif;
  --title-font-size: 30px;
  --title-line-height: 1.2;
  --transition-duration: 200ms;
}

/* HEADER START */

.page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 29px;
  background-image: url(../img/header-background.png);
  background-position: center;
  background-size: cover;
}

.header__button {
  margin: 0 auto;
  margin-bottom: 218px;
}

.btn {
  display: block;
  color: #ffffff;
  width: 162px;
  height: 40px;
  background-color: transparent;
  border: 3px solid #ffffff;
  cursor: pointer;
  text-transform: uppercase;
}

/* HEADER END */

/* SERVICES START */

.services {
  margin: 0 auto;
  padding: 0;
  padding-top: 57px;
}

/* SERVICES END */

/* OUR TEAM START */

.our-team {
  padding: 0;
  padding-top: 86px;
  padding-bottom: 78px;
}

.our-team__desc {
  margin: 0 auto;
  padding: 0;
  width: 980px;
  text-align: center;
  color: #999999;
  margin-bottom: 89px;
  padding-top: 39px;
}

/* OUR TEAM END */
